/*!
 *  LibreICONS v2.1 by @devel - https://github.com/StudioJunkyard/LibreICONS
 *  License - http://www.gnu.org/licenses/gpl-3.0.txt
 *  Version 2.1
 */
@charset"UTF-8";
@font-face{font-family:LibreICONS;src:url('../font/libreicons.eot')format('embedded-opentype'),url('../font/libreicons.woff')format('woff'),url('../font/libreicons.ttf')format('truetype'),url('../font/libreicons.svg')format('svg')}
[class^="libre-"]:before,
[class*=" libre-"]:before,
[class^="fa-"]:before,
[class*=" fa-"]:before,
[class^="glyphicon-"]:before,
[class*=" glyphicon-"]:before,
[class^="octicon-"]:before,
[class*=" octicon-"]:before,
[class^="note-icon-"]:before,
[class*=" note-icon-"]:before,
select.libre{display:inline-block;font:normal normal normal 14px/1 LibreICONS;font-size:inherit;-webkit-font-smoothing:antialiased;text-decoration:inherit;text-rendering:auto;text-transform:none;vertical-align:middle;speak:none;-moz-osx-font-smoothing:grayscale}
.libre:after,
	.fa:after{position:absolute;left:0;width:100%;text-align:center;font-size:1em}
.libre-lg,
	.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}
.libre-2x,
	.fa-2x{font-size:2em}
.libre-3x,
	.fa-3x{font-size:3em}
.libre-4x,
	.fa-4x{font-size:4em}
.libre-5x,
	.fa-5x{font-size:5em}
.libre-fw,
	.fa-fw{width:1.28571429em;text-align:center}
.libre-ul,
	.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}
.libre-ul>li,
	.fa-ul>li{position:relative}
.libre-li,
	.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}
.libre-li.libre-lg,
	.fa-li.fa-lg{left:-1.85714286em}
.libre-border,
	.fa-border{padding:.2em .25em .15em;border:.08em solid #ddd;border-radius:.1em}
.libre-border.primary{border-color:#122b40}
.libre-border.primary.background{color:#fff;background-color:#286090}
.libre-border.success{border-color:#3c763d}
.libre-border.success.background{color:#3c763d;background-color:#dff0d8}
.libre-border.info{border-color:#31708f}
.libre-border.info.background{color:#31708f;background-color:#d9edf7}
.libre-border.warning{border-color:#8a6d3b}
.libre-border.warning.background{color:#8a6d3b;background-color:#fcf8e3}
.libre-border.danger{border-color:#a94442}
.libre-border.danger.background{color:#a94442;background-color:#f2dede}
.pull-right{float:right}
.pull-left{float:left}
.libre.pull-left,
	.fa.pull-left{margin-right:.3em}
.libre.pull-right,
	.fa.pull-right{margin-left:.3em}
.valign-wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.valign-wrapper .valign{display:block}
.flow-text{font-weight:300}
@media only screen and(min-width:360px){.flow-text{font-size:1.2rem}}
@media only screen and(max-width:360px){.flow-text{font-size:1.2rem}}
@media only screen and(min-width:390px){.flow-text{font-size:1.224rem}}
@media only screen and(min-width:420px){.flow-text{font-size:1.248rem}}
@media only screen and(min-width:450px){.flow-text{font-size:1.272rem}}
@media only screen and(min-width:480px){.flow-text{font-size:1.296rem}}
@media only screen and(min-width:510px){.flow-text{font-size:1.32rem}}
@media only screen and(min-width:540px){.flow-text{font-size:1.344rem}}
@media only screen and(min-width:570px){.flow-text{font-size:1.368rem}}
@media only screen and(min-width:600px){.flow-text{font-size:1.392rem}}
@media only screen and(min-width:630px){.flow-text{font-size:1.416rem}}
@media only screen and(min-width:660px){.flow-text{font-size:1.44rem}}
@media only screen and(min-width:690px){.flow-text{font-size:1.464rem}}
@media only screen and(min-width:720px){.flow-text{font-size:1.488rem}}
@media only screen and(min-width:750px){.flow-text{font-size:1.512rem}}
@media only screen and(min-width:780px){.flow-text{font-size:1.536rem}}
@media only screen and(min-width:810px){.flow-text{font-size:1.56rem}}
@media only screen and(min-width:840px){.flow-text{font-size:1.584rem}}
@media only screen and(min-width:870px){.flow-text{font-size:1.608rem}}
@media only screen and(min-width:900px){.flow-text{font-size:1.632rem}}
@media only screen and(min-width:930px){.flow-text{font-size:1.656rem}}
@media only screen and(min-width:960px){.flow-text{font-size:1.68rem}}
.truncate{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.libre-spin,
	.fa-spin{-webkit-animation:libre-spin 2s infinite linear;animation:libre-spin 2s infinite linear}
.libre-pulse,
	.fa-pulse{-webkit-animation:libre-spin 1s infinite steps(8);animation:libre-spin 1s infinite steps(8)}@-webkit-keyframes libre-spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@keyframes libre-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.libre-rotate-90,
	.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.libre-rotate-180,
	.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.libre-rotate-270,
	.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.libre-flip-horizontal,
	.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}
.libre-flip-vertical,
	.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);-webkit-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}
:root .libre-rotate-90,
:root .libre-rotate-180,
:root .libre-rotate-270,
:root .libre-flip-horizontal,
:root .libre-flip-vertical,
	:root .fa-rotate-90,
	:root .fa-rotate-180,
	:root .fa-rotate-270,
	:root .fa-flip-horizontal,
	:root .fa-flip-vertical{filter:none}
.libre-stack,
	.fa-stack{position:relative;display:inline-block;width:1em;height:1em;line-height:1em;vertical-align:middle}
.libre-stack-1x,
.libre-stack-2x,
	.fa-stack-1x,
	.fa-stack-2x{position:absolute;left:0;right:auto;width:100%}
.libre-stack-1x,
	.fa-stack-1x{right:auto;line-height:inherit}
.libre-stack-2x,
	.fa-stack-2x{font-size:2em}
.libre-stack-action{left:-.35em;right:auto;line-height:.40em;font-size:2em;text-align:center}

.libre-360view:before{content:'\e000'}
.libre-action-add:before{content:'\e001'}
.libre-action-approve:before{content:'\e002'}
.libre-action-delete:before{content:'\e003'}
.libre-action-export:before{content:'\e004'}
.libre-action-select:before{content:'\e005'}
.libre-activity:before,
	.libre-cardio:before,
	.octicon-pulse:before,
	.glyphicons-cardio:before{content:'\e006'}
.libre-add:before{content:'\f067'}
.libre-address-book:before,
	.glyphicons-address-book:before{content:'\e008'}
.libre-alien:before{content:'\e009'}
.libre-align-center:before,
	.fa-align-center:before,
	.glyphicon-align-center:before,
	.glyphicons-align-center:before,
	.note-icon-align-center:before{content:'\f037'}
.libre-align-justify:before,
	.fa-align-justify:before,
	.glyphicon-align-justfy:before,
	.glyphicons-align-justify:before,
	.note-icon-align-justify:before,
	.note-icon-align:before{content:'\f039'}
.libre-align-left:before,
	.fa-align-left:before,
	.glyphicon-align-left:before,
	.glyphicons-align-left:before,
	.note-icon-align-left:before{content:'\f036'}
.libre-align-right:before,
	.fa-align-right:before,
	.glyphicon-align-right:before,
	.glyphicons-align-right:before,
	.note-icon-align-right:before{content:'\e00d'}
.libre-ankh:before{content:'\e00e'}
.libre-approve:before{content:'\f00c'}
.libre-archive:before,
	.fa-archive:before{content:'\f187'}
.libre-arrow-circle-down:before{content:'\f01a'}
.libre-arrow-circle-right:before{content:'\f18e'}
.libre-arrow-down:before,
	.fa-arrow-down:before,
	.octicon-arrow-down:before,
	.glyphicon-arrow-down:before,
	.glyphicons-down-arrow:before{content:'\f060'}
.libre-arrow-left:before,
	.fa-arrow-left:before,
	.octicon-arrow-left:before,
	.glyphicon-arrow-left:before,
	.glyphicons-left-arrow:before{content:'\e014'}
.libre-arrow-right:before,
	.fa-arrow-right:before,
	.octicon-arrow-right:before,
	.glyphicon-arrow-right:before,
	.glyphicons-right-arrow:before{content:'\f061'}
.libre-arrow-up:before,
	.fa-arrow-up:before,
	.octicon-arrow-up:before,
	.glyphicon-arrow-up:before,
	.glyphicons-up-arrow:before{content:'\f062'}
.libre-athiest:before{content:'\e017'}
.libre-back:before{content:'\e018'}
.libre-badge-1:before{content:'\e019'}
.libre-badge-2:before{content:'\e01a'}
.libre-badge-3:before{content:'\e01b'}
.libre-badge-4:before{content:'\e01c'}
.libre-badge-5:before{content:'\e01d'}
.libre-badge-6:before{content:'\e01e'}
.libre-badge-7:before{content:'\e01f'}
.libre-badge-8:before{content:'\e020'}
.libre-badge-9:before{content:'\e021'}
.libre-ban:before,
	.fa-ban:before,
	.glyphicon-ban-circle:before{content:'\f05e'}
.libre-bank:before{content:'\e023'}
.libre-barcode:before,
	.fa-barcode:before,
	.glyphicon-barcode:before,
	.glyphicons-barcode:before{content:'\f02a'}
.libre-bell:before,
	.octicon:before{content:'\f0ef'}
.libre-bold:before,
	.fa-bold:before,
	.glyphicon-bold:before,
	.glyphicons-bold:before,
	.note-icon-bold:before{content:'\f032'}
.libre-bookmark:before,
	.fa-bookmark:before,
	.octicon-bookmark:before,
	.glyphicon-bookmark:before,
	.glyphicons-bookmark:before{content:'\f02e'}
.libre-browse-computer:before{content:'\e028'}
.libre-browse-media:before{content:'\e029'}
.libre-browser-chrome:before,
	.fa-chrome:before{content:'\f268'}
.libre-browser-edge:before{content:'\f282'}
.libre-browser-explorer:before,
	.fa-internet-explorer:before{content:'\f26b'}
.libre-browser-firefox:before,
	.fa-firefox:before{content:'\f269'}
.libre-browser-general:before,
	.octicon-browser:before{content:'\e02e'}
.libre-browser-opera:before,
	.fa-opera:before{content:'\f26a'}
.libre-browser-safari:before,
	.fa-safari:before{content:'\f267'}
.libre-bug:before,
	.fa-bug:before,
	.octicon-bug:before,
	.glyphicons-bug:before{content:'\f188'}
.libre-calendar:before,
	.fa-calendar:before,
	.octicon-calendar:before,
	.glyphicon-calendar:before,
	.glyphicons-calendar:before{content:'\f073'}
.libre-camera:before,
	.octicon-device-camera:before{content:'\f030'}
.libre-camera-aperture:before{content:'\e034'}
.libre-camera-auto-whitebalance:before{content:'\e035'}
.libre-camera-flash:before,
	.libre-zap:before{content:'\e036'}
.libre-camera-focal-length:before{content:'\e037'}
.libre-camera-iso:before{content:'\e038'}
.libre-camera-landscape:before{content:'\e039'}
.libre-camera-macro:before{content:'\e03a'}
.libre-camera-panorama:before{content:'\e03b'}
.libre-camera-portrait:before{content:'\e03c'}
.libre-camera-shutter-speed:before{content:'\e03d'}
.libre-camera-timer:before{content:'\e03e'}
.libre-caret-down:before,
	.fa-caret-down:before,
	.glyphicon-tringle-down:before,
	.octicon-triangle-down:before,
	.note-icon-caret:before{content:'\f0d7'}
.libre-caret-left:before,
	.fa-caret-left:before,
	.glyphicon-triangle-left:before,
	.octicon-tringle-left:before{content:'\f0d9'}
.libre-caret-right:before,
	.fa-caret-right:before,
	.glyphicon-triangle-right:before,
	.octicon-triangle-right:before{content:'\f0da'}
.libre-caret-up:before,
	.fa-caret-up:before,
	.glyphicon-trinagle-up:before,
	.octicon-triangle-up:before{content:'\f0d8'}
.libre-certificate:before,
	.fa-certificate:before,
	.glyphicon-certificate:before,
	.glyphicons-certificate:before{content:'\f0a3'}
.libre-chart-area:before,
	.fa-area-chart:before{content:'\f1fe'}
.libre-chart-bar:before,
	.fa-bar-chart:before,
	.fa-bar-chart-o:before,
	.octicon-graph:before{content:'\f080'}
.libre-chart-line:before,
	.fa-line-chart:before{content:'\f201'}
.libre-chart-pie:before,
	.fa-pie-chart:before{content:'\f200'}
.libre-check-no:before,
	.glyphicon-remove:before,
	.glyphicons-remove-2:before{content:'\e048'}
.libre-check-yes:before,
	.libre-approve:before,
	.fa-check:before,
	.octicon-check:before,
	.glyphicon-ok:before,
	.glyphicons-ok-2:before,
	.note-icon-menu-check:before{content:'\e049'}
.libre-chevron-down:before,
	.fa-angle-down:before,
	.fa-chevron-down:before,
	.octicon-chevron-down:before,
	.glyphicon-chevron-down:before,
	.glyphicons-chevron-down:before{content:'\f078'}
.libre-chevron-left:before,
	.fa-angle-left:before,
	.fa-chevron-left:before,
	.octicon-chevron-left:before,
	.glyphicon-chevron-left:before,
	.glyphicons-chevron-left:before{content:'\f053'}
.libre-chevron-right:before,
	.fa-angle-right:before,
	.fa-chevron-right:before,
	.octicon-chevron-right:before,
	.glyphicon-chevron-right:before,
	.glyphicons-chevron-right:before{content:'\f054'}
.libre-chevron-up:before,
	.fa-angle-up:before,
	.fa-chevron-up:before,
	.octicon-chevron-up:before,
	.glyphicon-chevron-up:before,
	.glyphicons-chevron-up:before{content:'\f077'}
.libre-circle:before,
	.fa-circle:before,
	.note-icon-circle:before{content:'\f111'}
.libre-circle-o:before,
	.fa-circle-o:before{content:'\f10c'}
.libre-clipboard:before{content:'\f0ea'}
.libre-clock:before,
	.fa-clock-o:before,
	.octicon-clock:before,
	.glyphicon-time:before{content:'\f012'}
.libre-close:before,
	.fa-close:before,
	.fa-times:before,
	.glyphicon-remove:before,
	.note-icon-close:before{content:'\f00d'}
.libre-code:before,
	.fa-code:before,
	.octicon-code:before,
	.note-icon-code:before{content:'\f121'}
.libre-cog:before,
	.libre-gear:before,
	.fa-cog:before,
	.fa-gear:before,
	.octicon-gear:before
	.glyphicon-cog:before,
	.glyphicons-cogwheel:before{content:'\f013'}
.libre-cogs:before,
	.libre-gears:before,
	.fa-cogs:before,
	.fa-gears:before,
	.glyphicons-cogwheels:before{content:'\f085'}
.libre-columns:before{content:'\f0db'}
.libre-comment:before,
	.fa-comment:before,
	.octicon-comment:before,
	.glypicon-comment:before{content:'\f075'}
.libre-comments:before,
	.fa-comments:before,
	.octicon-comment-discussion:before,
	.glyphicons-comments:before{content:'\f086'}
.libre-content:before{content:'\e059'}
.libre-copy:before,
	.fa-copy:before{content:'\f0c5'}
.libre-credit-card:before,
	.fa-credit-card:before,
	.octicon-credit-card:before,
	.glyphicon-credit-card:before,
	.glyphicons-credit-card:before{content:'\e05b'}
.libre-credit-card-amex:before,
	.fa-cc-amex:before{content:'\f1f3'}
.libre-credit-card-cc:before,
	.fa-cc:before{content:'\f20a'}
.libre-credit-card-discover:before,
	.fa-cc-discover:before{content:'\f1f2'}
.libre-credit-card-mastercard:before,
	.fa-cc-mastercard:before{content:'\f1f1'}
.libre-credit-card-paypal:before,
	.fa-cc-paypal:before{content:'\f1f4'}
.libre-credit-card-stripe:before,
	.fa-cc-stripe:before{content:'\e061'}
.libre-credit-card-visa:before,
	.fa-cc-visa:before{content:'\f1f0'}
.libre-crop:before,
	.fa-crop:before,
	.glyphicons-crop:before{content:'\f125'}
.libre-crosshairs:before,
	.fa-crosshairs:before,
	.glyphicon-screenshot:before{content:'\f05b'}
.libre-cut:before,
	.fa-cut:before,
	.fa-scissors:before,
	.glyphicon-scissors:before,
	.glyphicons-scissors:before,
	.glyphicons-scissors-alt:before{content:'\f0c4'}
.libre-dalek:before{content:'\e066'}
.libre-dashboard:before,
	.fa-dashboard:before,
	.octicon-dashboard:before,
	.glyphicon-dashboard:before,
	.glyphicons-dashboard:before{content:'\f0e4'}
.libre-database:before,
	.fa-database:before,
	.octicon-databse:before,
	.glyphicons-database:before{content:'\f108'}
.libre-desktop:before,
	.fa-desktop:before,
	.octicon-device-desktop:before{content:'\f108'}
.libre-download:before,
	.fa-download:before,
	.glyphicon-download:before,
	.glyphicon-download-alt:before,
	.glyphicons-download-alt:before{content:'\f019'}
.libre-easter-egg:before{content:'\e06b'}
.libre-edit:before,
	.fa-edit:before,
	.glyphicon-edit:before,
	.glyphicons-edit:before{content:'\f044'}
.libre-email-forward:before,
	.libre-mail-forward:before,
	.fa-mail-forward:before{content:'\e06d'}
.libre-email-read:before,
	.libre-mail-read:before,
	.octicon-mail-read:before{content:'\e06e'}
.libre-email-reply:before,
	.libre-mail-reply:before,
	.libre-back:before,
	.libre-restore:before,
	.fa-mail-reply:before,
	.fa-reply:before,
	.octicon-mail-reply:before{content:'\f112'}
.libre-email-send:before,
	.fa-send:before,
	.glyphicon-send:before{content:'\f1d8'}
.libre-envelope:before,
	.libre-mail:before,
	.fa-envelope:before,
	.fa-envelope-o:before,
	.octicon-mail:before,
	.glyphicon-envelope:before,
	.glyphicons-envelope{content:'\f0e0'}
.libre-eraser:before,
	.fa-eraser:before,
	.glyphicon-erase:before,
	.glyphicons-erase:before,
	.note-icon-eraser:before{content:'\f12d'}
.libre-exclamation:before,
	.fa-exclamation:before{content:'\f12a'}
.libre-exclamation-circle:before,
	.fa-exclamation-circle:before,
	.glyphicon-info-sign:before,
	.glyphicons-info-sign:before,
	.octicon-issue-opened:before{content:'\e074'}
.libre-eyeofra:before{content:'\e075'}
.libre-file:before,
	.fa-file:before,
	.fa-file-o:before,
	.glyphicon-file:before,
	.glyphicons-file:before{content:'\f15b'}
.libre-file-archive:before,
	.fa-file-archive-o:before,
	.fa-file-zip-o:before,
	.octicon-file-zip:before{content:'\f1c6'}
.libre-file-audio:before,
	.fa-file-audio-o:before,
	.fa-file-sound-o:before{content:'\f1c7'}
.libre-file-code:before,
	.fa-file-code-o:before,
	.octicon-file-code:before{content:'\f1c5'}
.libre-file-docs:before,
	.fa-file-excel-o:before,
	.fa-file-powerpoint-o:before,
	.fa-file-word-o:before{content:'\e07a'}
.libre-file-image:before,
	.fa-file-image-o:before,
	.fa-file-photo-o:before,
	.fa-file-picture-o:before{content:'\e07b'}
.libre-file-pdf:before,
	.fa-file-pdf-o:before,
	.octicon-file-pdf:before{content:'\f1c1'}
.libre-file-text:before,
	.fa-file-text:before,
	.fa-file-text-o:before,
	.octicon-file-text:before{content:'\f15c'}
.libre-file-video:before,
	.fa-file-movie-o:before,
	.fa-file-video-o:before{content:'\f1c8'}
.libre-film:before,
	.fa-film:before,
	.fa-youtube-play:before,
	.glyphicon-film:before,
	.glyphicons-film:before,
	.note-icon-video:before{content:'\e07f'}
.libre-filter:before,
	.fa-filter:before,
	.glyphicon-filter:before,
	.glyphicons-filter:before{content:'\f0b0'}
.libre-fingerprint:before{content:'\e081'}
.libre-firewall:before{content:'\e082'}
.libre-floppy:before,
	.libre-save:before,
	.fa-floppy-o:before,
	.fa-save:before,
	.glyphicon-floppy-disk:before,
	.glyphicons-floppy-disk:before{content:'\f0c7'}
.libre-folder:before,
	.fa-folder:before,
	.octicon-file-directory:before,
	.glyphicon-folder-close:before,
	.glyphicons-folder-closed:before{content:'\f07b'}
.libre-folder-open:before,
	.fa-folder-open:before,
	.glyphicon-folder-open:before,
	.glyphicons-folder-open:before{content:'\f07c'}
.libre-font:before,
	.fa-font:before,
	.glyphicon-font:before,
	.glyphicons-font:before,
	.note-icon-font:before{content:'\f031'}
.libre-forbidden:before{content:'\e087'}
.libre-form-checkbox:before{content:'\e088'}
.libre-form-checkbox-checked:before{content:'\e089'}
.libre-form-radio:before{content:'\e08a'}
.libre-form-radio-checked:before{content:'\e08b'}
.libre-fullscreen:before,
	.glyphicon-fullscreen:before,
	.glyphicons-fullscreen:before,
	.note-icon-arrows-alt:before{content:'\e08c'}
.libre-globe:before,
	.fa-globe:before,
	.octicon-globe:before,
	.glyphicon-globe:before,
	.glyphicons-globe:before{content:'\f0ac'}
.libre-handsofgod:before{content:'\e08e'}
.libre-header:before,
	.fa-header:before,
	.glyphicon-header:before,
	.glyphicons-header:before{content:'\e08f'}
.libre-help:before,
	.fa-life-bouy:before,
	.fa-life-buoy:before,
	.fa-life-ring:before,
	.fa-life-saver:before,
	.fa-support:before,
	.glyphicons-life-preserver:before{content:'\e090'}
.libre-hexagon:before{content:'\e091'}
.libre-hexagon-o:before{content:'\e092'}
.libre-history:before,
	.fa-history:before{content:'\f1da'}
.libre-home:before,
	.fa-home:before,
	.octicon-home:before,
	.glyphicon-home:before,
	.glyphicons-home:before{content:'\f015'}
.libre-hr:before,
	.octicon-horizontal-rule:before{content:'\e095'}
.libre-import:before,
	.glyphicon-import:before{content:'\e096'}
.libre-inbox:before,
	.fa-inbox:before,
	.octicon-inbox:before,
	.glyphicon-inbox:before,
	.glyphicons-inbox:before{content:'\f01c'}
.libre-indent:before,
	.fa-indent:before,
	.glyphicon-indent-left:before,
	.glyphicons-indent:before,
	.note-icon-align-indent:before{content:'\f03c'}
.libre-info:before,
	.fa-info:before,
	.octicon-info:before{content:'\f129'}
.libre-italic:before,
	.fa-italic:before,
	.glyphicon-italic:before,
	.glyphicons-italic:before,
	.note-icon-italic:before{content:'\f033'}
.libre-key:before,
	.fa-key:before,
	.octicon-key:before,
	.glyphicons-keys:before{content:'\f084'}
.libre-keyboard:before,
	.octicon-keyboard:before{content:'\f11c'}
.libre-laptop:before,
	.fa-laptop:before{content:'\f109'}
.libre-layout-blocks:before{content:'\e09e'}
.libre-layout-list:before{content:'\e09f'}
.libre-layout-table:before{content:'\e0a0'}
.libre-layout-timeline:before{content:'\e0a1'}
.libre-level-down:before,
	.fa-level-down:before{content:'\f149'}
.libre-level-up:before,
	.fa-level-up:before{content:'\f148'}
.libre-license-copyleft:before{content:'\e0a4'}
.libre-license-copyright:before,
	.fa-copyright:before{content:'\f1f9'}
.libre-license-creative-commons:before,
	.fa-creative-commons:before{content:'\f25e'}
.libre-license-gpl:before{content:'\e0a7'}
.libre-license-registered:before,
	.fa-registered:before{content:'\f25b'}
.libre-license-trademark:before,
	.fa-trademark:before{content:'\f25c'}
.libre-link:before,
	.fa-chain:before,
	.fa-link:before,
	.octicon-link:before,
	.glyphicon-link:before,
	.glyphicons-link:before,
	.note-icon-link:before,
	.note-icon-chain-broken:before{content:'\f0c1'}
.libre-list:before,
	.fa-list:before,
	.fa-list-alt:before,
	.glyphicon-list:before,
	.glyphicon-list-alt:before,
	.glyphicons-list-alt:before{content:'\f03a'}
.libre-list-ol:before,
	.fa-list-ol:before,
	.octicon-list-ordered:before,
	.note-icon-orderedlist:before,
	.note-icon-unorderedlist:before{content:'\f0cb'}
.libre-list-ul:before,
	.fa-list-ul:before,
	.octiocon-list-unordered:before{content:'\f0ca'}
.libre-lock:before,
	.fa-lock:before,
	.octicon-lock:before,
	.glyphicon-lock:before,
	.glyphicons-lock:before{content:'\f023'}
.libre-magic:before,
	.fa-magic:before,
	.glyphicons-magic:before,
	.note-icon-magic:before{content:'\f0d0'}
.libre-masonic:before{content:'\e0b0'}
.libre-minus:before,
	.fa-minus:before,
	.octicon-dash:before,
	.glyphicon-minus:before,
	.glyphicons-minus:before,
	.note-icon-minus:before{content:'\f068'}
.libre-mobile:before,
	.fa-mobile:before,
	.fa-mobile-phone:before,
	.octiocon-device-mobile:before,
	.glyphicon-phone:before{content:'\f10b'}
.libre-object-align-bottom:before,
	.glyphicon-object-align-bottom:before{content:'\e0b3'}
.libre-object-align-horizontal:before,
	.glyphicon-object-align-horizontal:before{content:'\e0b4'}
.libre-object-align-left:before,
	.glyphicon-object-align-left:before{content:'\e0b5'}
.libre-object-align-right:before,
	.glyphicon-object-align-right:before{content:'\e0b6'}
.libre-object-align-top:before,
	.glyphicon-object-align-top:before{content:'\e0b7'}
.libre-object-align-vertical:before,
	.glyphicon-object-align-vertical:before{content:'\e0b8'}
.libre-octagon:before{content:'\e0b9'}
.libre-octagon-o:before{content:'\e0ba'}
.libre-operator:before{content:'\e0bb'}
.libre-order:before{content:'\e0bc'}
.libre-order-invoice:before,
	.glyphicons-invoice:before{content:'\e0bd'}
.libre-order-quote:before{content:'\e0be'}
.libre-order-quotetoinvoice:before{content:'\e0bf'}
.libre-os-android:before,
	.fa-android:before{content:'\f17b'}
.libre-os-apple:before,
	.fa-apple:before{content:'\f179'}
.libre-os-beos:before{content:'\e0c2'}
.libre-os-bsd:before{content:'\e0c3'}
.libre-os-general:before{content:'\e0c4'}
.libre-os-linux:before,
	.fa-linux:before{content:'\f17a'}
.libre-os-linux-alpine:before{content:'\e0c6'}
.libre-os-linux-arch:before{content:'\e0c7'}
.libre-os-linux-debian:before{content:'\e0c8'}
.libre-os-linux-elementary:before{content:'\e0c9'}
.libre-os-linux-fedora:before{content:'\e0ca'}
.libre-os-linux-mageia:before{content:'\e0cb'}
.libre-os-linux-mint:before{content:'\e0cc'}
.libre-os-linux-pardus:before{content:'\e0cd'}
.libre-os-linux-puppy:before{content:'\e0ce'}
.libre-os-linux-redhat:before{content:'\e0cf'}
.libre-os-linux-suse:before{content:'\e0d0'}
.libre-os-linux-ubuntu:before{content:'\e0d1'}
.libre-os-microsoft:before,
	.fa-windows:before{content:'\e0d2'}
.libre-os-windows-7:before{content:'\e0d3'}
.libre-os-windows-8:before{content:'\e0d4'}
.libre-os-windows-95:before{content:'\e0d5'}
.libre-os-windows-98:before{content:'\e0d6'}
.libre-os-windows-2000:before{content:'\e0d7'}
.libre-os-windows-me:before{content:'\e0d8'}
.libre-os-windows-vista:before{content:'\e0d9'}
.libre-os-windows-xp:before{content:'\e0da'}
.libre-outdent:before,
	.fa-dedent:before,
	.fa-outdent:before,
	.glyphicon-indent-right:before,
	.note-icon-align-outdent:before{content:'\f03b'}
.libre-paintbrush:before,
	.fa-paint-brush:before{content:'\f1fc'}
.libre-paperclip:before,
	.fa-paperclip:before,
	.glyphicon-paperclip:before,
	.glyphicons-paperclip:before{content:'\f0c6'}
.libre-paragraph:before,
	.fa-paragraph:before{content:'\f1dd'}
.libre-paste:before,
	.fa-paste:before,
	.glyphicon-paste:before{content:'\e0df'}
.libre-pencil:before,
	.fa-pencil:before,
	.octicon-pencil:before,
	.glyphicon-pencil:before,
	.glyphicons-pencil:before,
	.note-icon-pencil:before{content:'\f040'}
.libre-pentagram:before{content:'\e0e1'}
.libre-phone:before,
	.fa-phone:before,
	.glyphicons-phone-alt:before{content:'\f095'}
.libre-picture:before,
	.fa-image:before,
	.fa-photo:before,
	.fa-picture-o:before,
	.glyphicons-picture:before,
	.note-icon-picture:before{content:'\f03e'}
.libre-picture-circle:before{content:'\e0e4'}
.libre-picture-rounded:before{content:'\e0e5'}
.libre-pin:before,
	.fa-thumb-tack:before,
	.octicon-pin:before,
	.glyphicon-pushpin:before,
	.glyphicons-pushpin:before{content:'\e0e6'}
.libre-playboy:before{content:'\e0e7'}
.libre-plugin:before,
	.fa-puzzle-piece:before{content:'\e0e8'}
.libre-plus:before,
	.fa-plus:before,
	.octicon-plus:before,
	.glyphicon-plus:before,
	.glyphicons-plus:before,
	.libre-add:before{content:'\e0e9'}
.libre-print:before,
	.fa-print:before,
	.glyphicon-print:before,
	.glyphicons-print:before{content:'\f02f'}
.libre-purge:before{content:'\e0eb'}
.libre-qrcode:before,
	.fa-qrcode:before,
	.glyphicon-qrcode:before,
	.glyphicons-qrcode:before{content:'\f029'}
.libre-question:before,
	.fa-question:before,
	.octicon-question:before,
	.note-icon-question:before{content:'\f128'}
.libre-question-circle:before,
	.fa-question-circle:before,
	.glyphicon-question-sign:before,
	.glyphicons-question-sign:before{content:'\f059'}
.libre-random:before,
	.fa-random:before,
	.glyphicon-random:before,
	.glyphicons-random:before{content:'\f074'}
.libre-receipt:before{content:'\e0f0'}
.libre-recycle:before,
	.fa-recycle:before{content:'\f1b8'}
.libre-redo:before,
	.fa-repeat:before,
	.glyphicon-repeat:before,
	.glyphicons-repeat:before,
	.glyphicons-redo:before,
	.note-icon-redo:before{content:'\e0f2'}
.libre-refresh:before,
	.fa-refresh:before,
	.glyphicon-refresh:before,
	.glyphicons-refresh:before{content:'\f021'}
.libre-reorder:before,
	.fa-reorder:before,
	.glyphicon-sort:before{content:'\f0c9'}
.libre-resize-full:before,
	.glyphicon-resize-full:before,
	.glyphicons-resize-full:before{content:'\e0f5'}
.libre-resize-horizontal:before,
	.glyphicon-resize-horizontal:before{content:'\e0f6'}
.libre-resize-small:before,
	.glyphicon-resize-small:before,
	.glyphicons-resize-small:before{content:'\e0f7'}
.libre-resize-vertical:before,
	.glyphicon-resize-vertical:before{content:'\e0f8'}
.libre-restore:before{content:'\e0f9'}
.libre-search:before,
	.fa-search:before,
	.octicon-search:before,
	.glyphicon-search:before,
	.glyphicons-search:before{content:'\f002'}
.libre-security:before,
	.libre-shield:before,
	.fa-shield:before,
	.octicon-shield:before,
	.glyphicons-shield:before{content:'\e0fb'}
.libre-seo:before{content:'\e0fc'}
.libre-seo-marketing:before{content:'\e0fd'}
.libre-seo-performance:before{content:'\e0fe'}
.libre-seo-ppc:before{content:'\e0ff'}
.libre-seo-stats:before{content:'\e100'}
.libre-seo-target-audience:before{content:'\e101'}
.libre-server:before,
	.fa-server:before,
	.octicon-server:before,
	.glyphicons-server:before{content:'\f233'}
.libre-settings:before,
	.octicon-settings:before{content:'\e103'}
.libre-sheep:before{content:'\e104'}
.libre-shop:before{content:'\e105'}
.libre-shopping-bag:before,
	.glyphicons-shopping-bag:before{content:'\f290'}
.libre-shopping-basket:before{content:'\f291'}
.libre-shopping-cart:before,
	.fa-shopping-cart:before,
	.glyphicon-shopping-cart:before,
	.glyphicons-shopping-cart:before{content:'\f07a'}
.libre-signature:before{content:'\e109'}
.libre-sign-in:before,
	.libre-log-in:before,
	.fa-sign-in:before,
	.octicon-log-in:before,
	.octicon-sign-in:before,
	.glyphicon-log-in:before,
	.glyphicons-log-in:before{content:'\f090'}
.libre-sign-out:before,
	.libre-log-out:before,
	.fa-sign-out:before,
	.octicon-log-out:before,
	.octicon-sign-out:before,
	.glyphicon-log-out:before,
	.glyphicons-log-out:before{content:'\f08b'}
.libre-sitemap:before,
	.fa-sitemap:before{content:'\f0e8'}
.libre-sliders:before,
	.fa-sliders:before,
	.glyphicons-adjust-alt:before{content:'\f1de'}
/* Social */
.libre-social-500px:before,
	.fa-500px:before{content:'\f26e'}
.libre-social-amazon:before,
	.fa-amazon:before{content:'\f270'}
.libre-social-aus-post:before{content:'\e110'}
.libre-social-behance:before{content:'\f1b4'}
.libre-social-bitcoin:before,
	.fa-bitcoin:before,
	.glyphicons-bitcoin:before{content:'\f15a'}
.libre-social-blogger:before{content:'\e113'}
.libre-social-buffer:before{content:'\e114'}
.libre-social-cargo:before{content:'\e115'}
.libre-social-codepen:before{content:'\f1cb'}
.libre-social-coroflot:before{content:'\e117'}
.libre-social-creatica:before{content:'\e118'}
.libre-social-delicious:before,
	.fa-delicious:before{content:'\f1a5'}
.libre-social-deviantart:before,
	.fa-deviantart:before{content:'\f1bd'}
.libre-social-diaspora:before{content:'\e11b'}
.libre-social-digg:before{content:'\f1a6'}
.libre-social-dribbble:before{content:'\f17d'}
.libre-social-dropbox:before{content:'\f16b'}
.libre-social-duckduckgo:before{content:'\e11f'}
.libre-social-envato:before{content:'\e120'}
.libre-social-exposure:before{content:'\e121'}
.libre-social-facebook:before,
	.fa-facebook:before,
	.fa-facebook-f:before,
	.fa-facebook-official:before,
	.fa-facebook-square:before{content:'\f09a'}
.libre-social-feedburner:before{content:'\e123'}
.libre-social-flickr:before{content:'\f16e'}
.libre-social-forrst:before{content:'\e125'}
.libre-social-github:before,
	.fa-github:before,
	.fa-github-alt:before,
	.fa-github-square:before{content:'\f09b'}
.libre-social-google-maps:before{content:'\f041'}
.libre-social-google-plus:before,
	.fa-google-plus:before,
	.fa-google-plus-square:before{content:'\f0d5'}
.libre-social-gravatar:before{content:'\e129'}
.libre-social-hackernews:before{content:'\f1d4'}
.libre-social-icq:before{content:'\e12b'}
.libre-social-instagram:before,
	.fa-instagram:before{content:'\f16d'}
.libre-social-kickstarter:before{content:'\e12d'}
.libre-social-last-fm:before{content:'\f202'}
.libre-social-lego:before{content:'\e12f'}
.libre-social-linkedin:before{content:'\f0e1'}
.libre-social-livejournal:before{content:'\e131'}
.libre-social-lynda:before{content:'\e132'}
.libre-social-map:before,
	.glyphicons-map:before{content:'\f279'}
.libre-social-massroots:before{content:'\e134'}
.libre-social-medium:before{content:'\f23a'}
.libre-social-netlify:before{content:'\e136'}
.libre-social-ovh:before{content:'\e137'}
.libre-social-paypal:before,
	.fa-paypal:before{content:'\f1ed'}
.libre-social-periscope:before{content:'\e139'}
.libre-social-picasa:before{content:'\e13a'}
.libre-social-pinterest:before{content:'\f0d2'}
.libre-social-play-store:before{content:'\e13c'}
.libre-social-quora:before{content:'\e13d'}
.libre-social-redbubble:before{content:'\e13e'}
.libre-social-reddit:before{content:'\f1a1'}
.libre-social-rss:before,
	.fa-feed:before,
	.fa-rss:before,
	.fa-rss-square:before,
	.octicon-rss:before{content:'\f09e'}
.libre-social-sharethis:before{content:'\f1dc'}
.libre-social-skype:before{content:'\f17e'}
.libre-social-snapchat:before{content:'\f2ab'}
.libre-social-soundcloud:before{content:'\f1be'}
.libre-social-stackoverflow:before{content:'\f16c'}
.libre-social-steam:before{content:'\f1b6'}
.libre-social-stumbleupon:before{content:'\f1a4'}
.libre-social-tor:before{content:'\e148'}
.libre-social-tsu:before{content:'\e149'}
.libre-social-tumblr:before{content:'\f173'}
.libre-social-twitch:before{content:'\f1e6'}
.libre-social-twitter:before,
	.fa-twitter:before,
	.fa-twitter-square:before{content:'\f099'}
.libre-social-ubiquiti:before{content:'\e14d'}
.libre-social-unsplash:before{content:'\e14e'}
.libre-social-vimeo:before,
	.fa-vimeo:before{content:'\e14f'}
.libre-social-vine:before{content:'\f1ca'}
.libre-social-whatsapp:before{content:'\f232'}
.libre-social-wikipedia:before{content:'\f266'}
.libre-social-windows-store:before{content:'\e153'}
.libre-social-xbox-live:before{content:'\e154'}
.libre-social-yahoo:before,
	.fa-yahoo:before{content:'\f19c'}
.libre-social-yelp:before{content:'\f1e9'}
.libre-social-youtube:before,
	.fa-youtube:before,
	.fa-youtube-square:before{content:'\f167'}
.libre-social-zerply:before{content:'\e158'}
.libre-social-zune:before{content:'\e159'}
.libre-sort:before,
	.fa-sort:before,
	.fa-unsorted:before,
	.glyphicon-sort:before{content:'\f0dc'}
.libre-sort-asc:before,
	.fa-sort-asc:before,
	.glyphicon-sort-down:before{content:'\f0de'}
.libre-sort-desc:before,
	.fa-sort-desc:before,
	.glyphicon-sort-up:before{content:'\f0dd'}
.libre-special-character:before,
	.note-icon-special-character:before{content:'\e15d'}
.libre-spellcheck:before{content:'\e15e'}
.libre-spinner-1:before,
	.fa-spinner:before{content:'\e15f'}
.libre-spinner-2:before{content:'\e160'}
.libre-spinner-3:before{content:'\e161'}
.libre-spinner-4:before{content:'\e162'}
.libre-spinner-5:before{content:'\e163'}
.libre-spinner-6:before{content:'\e164'}
.libre-spinner-7:before{content:'\e165'}
.libre-spinner-8:before{content:'\e166'}
.libre-spinner-9:before{content:'\e167'}
.libre-spinner-10:before{content:'\e168'}
.libre-spinner-11:before{content:'\e169'}
.libre-spinner-12:before{content:'\e16a'}
.libre-square:before,
	.note-icon-square:before{content:'\f0c8'}
.libre-square-o:before{content:'\f096'}
.libre-square-o-rounded:before,
	.fa-square-o:before{content:'\e16d'}
.libre-square-rounded:before,
	.fa-square:before{content:'\e16e'}
.libre-star:before,
	.fa-star:before,
	.octicon-star:before,
	.glyphicon-star:before,
	.glyphicons-star:before{content:'\f005'}
.libre-star-o:before,
	.fa-star-o:before,
	.glyphicon-star-empty:before,
	.glyphicons-star-empty:before{content:'\f006'}
.libre-stop:before,
	.octicon-stop:before,
	.glyphicons-stop-sign:before{content:'\e171'}
.libre-strikethrough:before,
	.fa-strikethrough:before,
	.glyphicons-text-strike:before,
	.note-icon-strikethrough:before{content:'\f0cc'}
.libre-subscript:before,
	.fa-subscript:before,
	.glyphicon-subscript:before,
	.glyphicons-subscript:before,
	.note-icon-subscript:before{content:'\e173'}
.libre-superscript:before,
	.fa-superscript:before,
	.glyphicon-superscript:before,
	.glyphicons-superscript:before,
	.note-icon-superscript:before{content:'\f12b'}
.libre-table:before,
	.fa-table:before,
	.glyphicons-table:before,
	.note-icon-table:before{content:'\f0ce'}
.libre-tablet:before,
	.fa-tablet:before,
	.glyphicons-tablet:before{content:'\f10a'}
.libre-tag:before,
	.fa-tag:before,
	.octicon-tag:before,
	.glyphicon-tag:before,
	.glyphicons-tag:before{content:'\f02b'}
.libre-tags:before,
	.fa-tags:before,
	.glyphicon-tags:before,
	.glyphicons-tags:before{content:'\f02c'}
.libre-tardis:before{content:'\e179'}
.libre-tasks:before,
	.fa-tasks:before,
	.glyphicon-tasks:before{content:'\f0ae'}
/* Tech */
.libre-tech:before{content:'\e17b'}
.libre-tech-angularjs:before{content:'\e17c'}
.libre-tech-apache:before{content:'\e17d'}
.libre-tech-blender:before{content:'\e17e'}
.libre-tech-css3:before{content:'\e17f'}
.libre-tech-firebird:before{content:'\e180'}
.libre-tech-gimp:before{content:'\e181'}
.libre-tech-godot:before{content:'\e182'}
.libre-tech-html5:before{content:'\e183'}
.libre-tech-inkscape:before{content:'\e184'}
.libre-tech-jquery:before{content:'\e185'}
.libre-tech-makehuman:before{content:'\e186'}
.libre-tech-mysql:before{content:'\e187'}
.libre-tech-nodejs:before{content:'\e188'}
.libre-tech-open-source:before{content:'\e189'}
.libre-tech-open-source-hardware:before{content:'\e18a'}
.libre-tech-opensourcephotography:before{content:'\e18b'}
.libre-tech-php:before{content:'\e18c'}
.libre-tech-python:before{content:'\e18d'}
.libre-tech-raspberrypi:before{content:'\e18e'}
.libre-tech-summernote:before,
	.note-icon-summernote:before{content:'\e18f'}
.libre-tech-unity3d:before{content:'\e190'}
.libre-tech-w3c:before{content:'\e191'}
.libre-television:before,
	.libre-tv:before,
	.fa-television:before,
	.fa-tv:before,
	.glyphicons-tv:before{content:'\f26c'}
.libre-terminal:before,
	.fa-terminal:before,
	.octicon-terminal:before,
	.glyphicon-console{content:'\f120'}
.libre-text-color:before,
	.glyphicons-text-color:before{content:'\e194'}
.libre-text-cursor:before,
	.fa-i-cursor:before{content:'\f246'}
.libre-text-height:before,
	.fa-text-height:before,
	.glyphicon-text-height:before,
	.glyphicons-text-height:before,
	.note-icon-text-height:before{content:'\f034'}
.libre-text-size:before,
	.glyphicon-text-size:before,
	.glyphicons-text-size:before{content:'\e197'}
.libre-text-width:before,
	.fa-text-width:before,
	.glyphicon-text-width:before,
	.glyphicons-text-width:before{content:'\f035'}
.libre-th:before,
	.fa-th:before,
	.glyphicon-th:before{content:'\f00a'}
.libre-theme:before{content:'\e19a'}
.libre-th-large:before,
	.fa-th-large:before,
	.glyphicon-th-large:before{content:'\f009'}
.libre-th-list:before,
	.fa-th-list:before,
	.glyphicon-th-list:before{content:'\f00b'}
.libre-thors-hammer:before{content:'\e19d'}
.libre-thumbs-down:before,
	.fa-thumbs-down:before,
	.fa-thumbs-down-o:before,
	.octicon-thumbsdown:before,
	.glyphicon-thumbs-down:before,
	.glyphicons-thumbs-down:before{content:'\f165'}
.libre-thumbs-up:before,
	.fa-thumbs-up:before,
	.fa-thumbs-up-o:before,
	.octicon-up:before,
	.glyphicon-thumbs-up:before,
	.glyphicons-thumbs-up:before{content:'\f164'}
.libre-ticket:before,
	.fa-ticket:before{content:'\f145'}
.libre-tint:before,
	.fa-tint:before,
	.glyphicons-tint:before{content:'\f043'}
.libre-tooltip:before{content:'\e1a2'}
.libre-trash:before,
	.fa-trash:before,
	.fa-trash-o:before,
	.octicon-trashcan:before,
	.glyphicon-trash:before,
	.glyphicons-bin:before,
	.note-icon-trash:before{content:'\f1f8'}
.libre-triangle:before{content:'\e1a4'}
.libre-triangle-o:before{content:'\e1a5'}
.libre-triangle-o-rounded:before{content:'\e1a6'}
.libre-triangle-rounded:before{content:'\e1a7'}
.libre-triskele:before{content:'\e1a8'}
.libre-underline:before,
	.fa-underline:before,
	.glyphicons-text-underline:before,
	.note-icon-underline:before{content:'\f0cd'}
.libre-undo:before,
	.fa-undo:before,
	.glyphicons-undo:before,
	.note-icon-undo:before{content:'\f0e2'}
.libre-unlock:before,
	.fa-unlock:before,
	.fa-unlock-alt:before,
	.glyphicons-unlock:before{content:'\f09c'}
.libre-unsorted:before,
	.fa-unsorted:before{content:'\e1ac'}
.libre-upload:before,
	.fa-upload:before,
	.glyphicon-upload:before{content:'\f093'}
.libre-user:before,
	.fa-user:before,
	.glyphicon-user:before,
	.glyphicons-user:before{content:'\f007'}
.libre-user-female:before,
	.fa-female:before,
	.glyphicons-girl:before{content:'\f182'}
.libre-user-group:before,
	.octicon-organization:before{content:'\e1b0'}
.libre-user-male:before,
	.fa-male:before,
	.glyphicons-user:before{content:'\f183'}
.libre-users:before,
	.fa-users:before{content:'\f0c0'}
.libre-view:before,
	.fa-eye:before,
	.octicon-eye:before,
	.glyphicons-eye-open:before{content:'\e1b3'}
.libre-virus:before{content:'\e1b4'}
.libre-wrench:before,
	.libre-tools:before,
	.fa-wrench:before,
	.octicon-tools:before,
	.glyphicon-wrench:before,
	.glyphicons-wrench:before{content:'\f0ad'}
.libre-zoom-fit:before{content:'\e1b6'}
.libre-zoom-in:before{content:'\f00e'}
.libre-zoom-out:before{content:'\f010'}
