/*!
 * LibreICONS v4.0.2 by @devel - https://github.com/DiemenDesign/LibreICONS
 * License - http://www.gnu.org/licenses/gpl-3.0.txt
 * Version 4.0.2
*/
.libre {
  display: inline-block;
  width: 14px; /* Standard Icon Size */
  height: 14px; /* Standard Icon Size */
  vertical-align: -5%;
  text-rendering: auto;
  fill: currentColor; /* This allows the Icon Color to Inherit the parent containers color value */
}
.libre-lg {
  width: 20px;
  height: 20px;
}
.libre-2x {
  width: 28px;
  height: 28px;
}
.libre.s32 {
  width: 32px;
  height: 32px;
}
.libre-3x {
  width: 42px;
  height: 42px;
}
.libre-4x{
  width: 56px;
  height: 56px;
}
.libre.s64 {
  width: 64px;
  height: 64px;
}
.libre-5x {
  width: 70px;
  height: 70px;
}
.libre.s92 {
  width: 92px;
  height: 92px;
}
.libre.s128 {
  width: 128px;
  height: 128px;
}
/* This makes a Bootstrap Button (btn btn-default) turn red when hovered over */
.btn:hover.trash{
    background: #d9534f;
    border-color: #d43f3a;
    color: #fff
}
