/*!
 * LibreICONS v2.1 by @devel - https://github.com/StudioJunkyard/LibreICONS
 * License - http://www.gnu.org/licenses/gpl-3.0.txt
 * Version 2.1
*/
.libre{
display:inline-block;
background-repeat:no-repeat;
background-image:url(libre-svg-black.svg);
width:14px;
height:14px;
}
.libre.white{
background-image: url(libre-svg-white.svg);
}
.libre-360view {
	background-position: 0 0;
}
.libre-action-add {


background-position: -14px 0;
}
.libre-action-approve {


background-position: -28px 0;
}
.libre-action-delete {


background-position: -42px 0;
}
.libre-action-export {


background-position: -56px 0;
}
.libre-action-select {


background-position: -70px 0;
}
.libre-activity {


background-position: -84px 0;
}
.libre-add {


background-position: -98px 0;
}
.libre-address-book {


background-position: -112px 0;
}
.libre-alien {


background-position: -126px 0;
}
.libre-align-center {


background-position: -140px 0;
}
.libre-align-justify {


background-position: -154px 0;
}
.libre-align-left {


background-position: -168px 0;
}
.libre-align-right {


background-position: -182px 0;
}
.libre-ankh {


background-position: 0 -14px;
}
.libre-approve {


background-position: -14px -14px;
}
.libre-archive {


background-position: -28px -14px;
}
.libre-arrow-circle-down {


background-position: -42px -14px;
}
.libre-arrow-circle-right {


background-position: -56px -14px;
}
.libre-arrow-down {


background-position: -70px -14px;
}
.libre-arrow-left {


background-position: -84px -14px;
}
.libre-arrow-right {


background-position: -98px -14px;
}
.libre-arrow-up {


background-position: -112px -14px;
}
.libre-athiest {


background-position: -126px -14px;
}
.libre-back {


background-position: -140px -14px;
}
.libre-badge-1 {


background-position: -154px -14px;
}
.libre-badge-2 {


background-position: -168px -14px;
}
.libre-badge-3 {


background-position: -182px -14px;
}
.libre-badge-4 {


background-position: 0 -28px;
}
.libre-badge-5 {


background-position: -14px -28px;
}
.libre-badge-6 {


background-position: -28px -28px;
}
.libre-badge-7 {


background-position: -42px -28px;
}
.libre-badge-8 {


background-position: -56px -28px;
}
.libre-badge-9 {


background-position: -70px -28px;
}
.libre-ban {


background-position: -84px -28px;
}
.libre-bank {


background-position: -98px -28px;
}
.libre-barcode {


background-position: -112px -28px;
}
.libre-bell {


background-position: -126px -28px;
}
.libre-bold {


background-position: -140px -28px;
}
.libre-bookmark {


background-position: -154px -28px;
}
.libre-browse-computer {


background-position: -168px -28px;
}
.libre-browse-media {


background-position: -182px -28px;
}
.libre-browser-chrome {


background-position: 0 -42px;
}
.libre-browser-edge {


background-position: -14px -42px;
}
.libre-browser-explorer {


background-position: -28px -42px;
}
.libre-browser-firefox {


background-position: -42px -42px;
}
.libre-browser-general {


background-position: -56px -42px;
}
.libre-browser-opera {


background-position: -70px -42px;
}
.libre-browser-safari {


background-position: -84px -42px;
}
.libre-bug {


background-position: -98px -42px;
}
.libre-calendar {


background-position: -112px -42px;
}
.libre-camera {


background-position: -126px -42px;
}
.libre-camera-aperture {


background-position: -140px -42px;
}
.libre-camera-auto-whitebalance {


background-position: -154px -42px;
}
.libre-camera-flash {


background-position: -168px -42px;
}
.libre-camera-focal-length {


background-position: -182px -42px;
}
.libre-camera-iso {


background-position: 0 -56px;
}
.libre-camera-landscape {


background-position: -14px -56px;
}
.libre-camera-macro {


background-position: -28px -56px;
}
.libre-camera-panorama {


background-position: -42px -56px;
}
.libre-camera-portrait {


background-position: -56px -56px;
}
.libre-camera-shutter-speed {


background-position: -70px -56px;
}
.libre-camera-timer {


background-position: -84px -56px;
}
.libre-caret-down {


background-position: -98px -56px;
}
.libre-caret-left {


background-position: -112px -56px;
}
.libre-caret-right {


background-position: -126px -56px;
}
.libre-caret-up {


background-position: -140px -56px;
}
.libre-certificate {


background-position: -154px -56px;
}
.libre-chart-area {


background-position: -168px -56px;
}
.libre-chart-bar {


background-position: -182px -56px;
}
.libre-chart-line {


background-position: 0 -70px;
}
.libre-chart-pie {


background-position: -14px -70px;
}
.libre-check-no {


background-position: -28px -70px;
}
.libre-check-yes {


background-position: -42px -70px;
}
.libre-chevron-down {


background-position: -56px -70px;
}
.libre-chevron-left {


background-position: -70px -70px;
}
.libre-chevron-right {


background-position: -84px -70px;
}
.libre-chevron-up {


background-position: -98px -70px;
}
.libre-circle {


background-position: -112px -70px;
}
.libre-circle-o {


background-position: -126px -70px;
}
.libre-clipboard {


background-position: -140px -70px;
}
.libre-clock {


background-position: -154px -70px;
}
.libre-close {


background-position: -168px -70px;
}
.libre-code {


background-position: -182px -70px;
}
.libre-cog {


background-position: 0 -84px;
}
.libre-cogs {


background-position: -14px -84px;
}
.libre-columns {


background-position: -28px -84px;
}
.libre-comment {


background-position: -42px -84px;
}
.libre-comments {


background-position: -56px -84px;
}
.libre-content {


background-position: -70px -84px;
}
.libre-copy {


background-position: -84px -84px;
}
.libre-credit-card {


background-position: -98px -84px;
}
.libre-credit-card-amex {


background-position: -112px -84px;
}
.libre-credit-card-cc {


background-position: -126px -84px;
}
.libre-credit-card-discover {


background-position: -140px -84px;
}
.libre-credit-card-mastercard {


background-position: -154px -84px;
}
.libre-credit-card-paypal {


background-position: -168px -84px;
}
.libre-credit-card-stripe {


background-position: -182px -84px;
}
.libre-credit-card-visa {


background-position: 0 -98px;
}
.libre-crop {


background-position: -14px -98px;
}
.libre-crosshairs {


background-position: -28px -98px;
}
.libre-cut {


background-position: -42px -98px;
}
.libre-dalek {


background-position: -56px -98px;
}
.libre-dashboard {


background-position: -70px -98px;
}
.libre-database {


background-position: -84px -98px;
}
.libre-desktop {


background-position: -98px -98px;
}
.libre-download {


background-position: -112px -98px;
}
.libre-easter-egg {


background-position: -126px -98px;
}
.libre-edit {


background-position: -140px -98px;
}
.libre-email-forward {


background-position: -154px -98px;
}
.libre-email-read {


background-position: -168px -98px;
}
.libre-email-reply {


background-position: -182px -98px;
}
.libre-email-send {


background-position: 0 -112px;
}
.libre-envelope {


background-position: -14px -112px;
}
.libre-eraser {


background-position: -28px -112px;
}
.libre-exclamation {


background-position: -42px -112px;
}
.libre-exclamation-circle {


background-position: -56px -112px;
}
.libre-eyeofra {


background-position: -70px -112px;
}
.libre-file {


background-position: -84px -112px;
}
.libre-file-archive {


background-position: -98px -112px;
}
.libre-file-audio {


background-position: -112px -112px;
}
.libre-file-code {


background-position: -126px -112px;
}
.libre-file-docs {


background-position: -140px -112px;
}
.libre-file-image {


background-position: -154px -112px;
}
.libre-file-pdf {


background-position: -168px -112px;
}
.libre-file-text {


background-position: -182px -112px;
}
.libre-file-video {


background-position: 0 -126px;
}
.libre-film {


background-position: -14px -126px;
}
.libre-filter {


background-position: -28px -126px;
}
.libre-fingerprint {


background-position: -42px -126px;
}
.libre-firewall {


background-position: -56px -126px;
}
.libre-floppy {


background-position: -70px -126px;
}
.libre-folder {


background-position: -84px -126px;
}
.libre-folder-open {


background-position: -98px -126px;
}
.libre-font {


background-position: -112px -126px;
}
.libre-forbidden {


background-position: -126px -126px;
}
.libre-form-checkbox {


background-position: -140px -126px;
}
.libre-form-checkbox-checked {


background-position: -154px -126px;
}
.libre-form-radio {


background-position: -168px -126px;
}
.libre-form-radio-checked {


background-position: -182px -126px;
}
.libre-fullscreen {


background-position: 0 -140px;
}
.libre-globe {


background-position: -14px -140px;
}
.libre-handsofgod {


background-position: -28px -140px;
}
.libre-header {


background-position: -42px -140px;
}
.libre-help {


background-position: -56px -140px;
}
.libre-hexagon {


background-position: -70px -140px;
}
.libre-hexagon-o {


background-position: -84px -140px;
}
.libre-history {


background-position: -98px -140px;
}
.libre-home {


background-position: -112px -140px;
}
.libre-hr {


background-position: -126px -140px;
}
.libre-import {


background-position: -140px -140px;
}
.libre-inbox {


background-position: -154px -140px;
}
.libre-indent {


background-position: -168px -140px;
}
.libre-info {


background-position: -182px -140px;
}
.libre-italic {


background-position: 0 -154px;
}
.libre-key {


background-position: -14px -154px;
}
.libre-keyboard {


background-position: -28px -154px;
}
.libre-laptop {


background-position: -42px -154px;
}
.libre-layout-blocks {


background-position: -56px -154px;
}
.libre-layout-list {


background-position: -70px -154px;
}
.libre-layout-table {


background-position: -84px -154px;
}
.libre-layout-timeline {


background-position: -98px -154px;
}
.libre-level-down {


background-position: -112px -154px;
}
.libre-level-up {


background-position: -126px -154px;
}
.libre-license-copyleft {


background-position: -140px -154px;
}
.libre-license-copyright {


background-position: -154px -154px;
}
.libre-license-creative-commons {


background-position: -168px -154px;
}
.libre-license-gpl {


background-position: -182px -154px;
}
.libre-license-registered {


background-position: 0 -168px;
}
.libre-license-trademark {


background-position: -14px -168px;
}
.libre-link {


background-position: -28px -168px;
}
.libre-list {


background-position: -42px -168px;
}
.libre-list-ol {


background-position: -56px -168px;
}
.libre-list-ul {


background-position: -70px -168px;
}
.libre-lock {


background-position: -84px -168px;
}
.libre-magic {


background-position: -98px -168px;
}
.libre-masonic {


background-position: -112px -168px;
}
.libre-minus {


background-position: -126px -168px;
}
.libre-mobile {


background-position: -140px -168px;
}
.libre-object-align-bottom {


background-position: -154px -168px;
}
.libre-object-align-horizontal {


background-position: -168px -168px;
}
.libre-object-align-left {


background-position: -182px -168px;
}
.libre-object-align-right {


background-position: 0 -182px;
}
.libre-object-align-top {


background-position: -14px -182px;
}
.libre-object-align-vertical {


background-position: -28px -182px;
}
.libre-octagon {


background-position: -42px -182px;
}
.libre-octagon-o {


background-position: -56px -182px;
}
.libre-operator {


background-position: -70px -182px;
}
.libre-order {


background-position: -84px -182px;
}
.libre-order-invoice {


background-position: -98px -182px;
}
.libre-order-quote {


background-position: -112px -182px;
}
.libre-order-quotetoinvoice {


background-position: -126px -182px;
}
.libre-os-android {


background-position: -140px -182px;
}
.libre-os-apple {


background-position: -154px -182px;
}
.libre-os-beos {


background-position: -168px -182px;
}
.libre-os-bsd {


background-position: -182px -182px;
}
.libre-os-general {


background-position: 0 -196px;
}
.libre-os-linux {


background-position: -14px -196px;
}
.libre-os-linux-alpine {


background-position: -28px -196px;
}
.libre-os-linux-arch {


background-position: -42px -196px;
}
.libre-os-linux-debian {


background-position: -56px -196px;
}
.libre-os-linux-elementary {


background-position: -70px -196px;
}
.libre-os-linux-fedora {


background-position: -84px -196px;
}
.libre-os-linux-mageia {


background-position: -98px -196px;
}
.libre-os-linux-mint {


background-position: -112px -196px;
}
.libre-os-linux-pardus {


background-position: -126px -196px;
}
.libre-os-linux-puppy {


background-position: -140px -196px;
}
.libre-os-linux-redhat {


background-position: -154px -196px;
}
.libre-os-linux-suse {


background-position: -168px -196px;
}
.libre-os-linux-ubuntu {


background-position: -182px -196px;
}
.libre-os-microsoft {


background-position: 0 -210px;
}
.libre-os-windows-7 {


background-position: -14px -210px;
}
.libre-os-windows-8 {


background-position: -28px -210px;
}
.libre-os-windows-95 {


background-position: -42px -210px;
}
.libre-os-windows-98 {


background-position: -56px -210px;
}
.libre-os-windows-2000 {


background-position: -70px -210px;
}
.libre-os-windows-me {


background-position: -84px -210px;
}
.libre-os-windows-vista {


background-position: -98px -210px;
}
.libre-os-windows-xp {


background-position: -112px -210px;
}
.libre-outdent {


background-position: -126px -210px;
}
.libre-paintbrush {


background-position: -140px -210px;
}
.libre-paperclip {


background-position: -154px -210px;
}
.libre-paragraph {


background-position: -168px -210px;
}
.libre-paste {


background-position: -182px -210px;
}
.libre-pencil {


background-position: 0 -224px;
}
.libre-pentagram {


background-position: -14px -224px;
}
.libre-phone {


background-position: -28px -224px;
}
.libre-picture {


background-position: -42px -224px;
}
.libre-picture-circle {


background-position: -56px -224px;
}
.libre-picture-rounded {


background-position: -70px -224px;
}
.libre-pin {


background-position: -84px -224px;
}
.libre-playboy {


background-position: -98px -224px;
}
.libre-plugin {


background-position: -112px -224px;
}
.libre-plus {


background-position: -126px -224px;
}
.libre-print {


background-position: -140px -224px;
}
.libre-purge {


background-position: -154px -224px;
}
.libre-qrcode {


background-position: -168px -224px;
}
.libre-question {


background-position: -182px -224px;
}
.libre-question-circle {


background-position: 0 -238px;
}
.libre-random {


background-position: -14px -238px;
}
.libre-receipt {


background-position: -28px -238px;
}
.libre-recycle {


background-position: -42px -238px;
}
.libre-redo {


background-position: -56px -238px;
}
.libre-refresh {


background-position: -70px -238px;
}
.libre-reorder {


background-position: -84px -238px;
}
.libre-resize-full {


background-position: -98px -238px;
}
.libre-resize-horizontal {


background-position: -112px -238px;
}
.libre-resize-small {


background-position: -126px -238px;
}
.libre-resize-vertical {


background-position: -140px -238px;
}
.libre-restore {


background-position: -154px -238px;
}
.libre-search {


background-position: -168px -238px;
}
.libre-security {


background-position: -182px -238px;
}
.libre-seo {


background-position: 0 -252px;
}
.libre-seo-marketing {


background-position: -14px -252px;
}
.libre-seo-performance {


background-position: -28px -252px;
}
.libre-seo-ppc {


background-position: -42px -252px;
}
.libre-seo-stats {


background-position: -56px -252px;
}
.libre-seo-target-audience {


background-position: -70px -252px;
}
.libre-server {


background-position: -84px -252px;
}
.libre-settings {


background-position: -98px -252px;
}
.libre-sheep {


background-position: -112px -252px;
}
.libre-shop {


background-position: -126px -252px;
}
.libre-shopping-bag {


background-position: -140px -252px;
}
.libre-shopping-basket {


background-position: -154px -252px;
}
.libre-shopping-cart {


background-position: -168px -252px;
}
.libre-signature {


background-position: -182px -252px;
}
.libre-sign-in {


background-position: 0 -266px;
}
.libre-sign-out {


background-position: -14px -266px;
}
.libre-sitemap {


background-position: -28px -266px;
}
.libre-sliders {


background-position: -42px -266px;
}
.libre-social-500px {


background-position: -56px -266px;
}
.libre-social-amazon {


background-position: -70px -266px;
}
.libre-social-aus-post {


background-position: -84px -266px;
}
.libre-social-behance {


background-position: -98px -266px;
}
.libre-social-bitcoin {


background-position: -112px -266px;
}
.libre-social-blogger {


background-position: -126px -266px;
}
.libre-social-buffer {


background-position: -140px -266px;
}
.libre-social-cargo {


background-position: -154px -266px;
}
.libre-social-codepen {


background-position: -168px -266px;
}
.libre-social-coroflot {


background-position: -182px -266px;
}
.libre-social-creattica {


background-position: 0 -280px;
}
.libre-social-delicious {


background-position: -14px -280px;
}
.libre-social-deviantart {


background-position: -28px -280px;
}
.libre-social-diaspora {


background-position: -42px -280px;
}
.libre-social-digg {


background-position: -56px -280px;
}
.libre-social-dribbble {


background-position: -70px -280px;
}
.libre-social-dropbox {


background-position: -84px -280px;
}
.libre-social-duckduckgo {


background-position: -98px -280px;
}
.libre-social-envato {


background-position: -112px -280px;
}
.libre-social-exposure {


background-position: -126px -280px;
}
.libre-social-facebook {


background-position: -140px -280px;
}
.libre-social-feedburner {


background-position: -154px -280px;
}
.libre-social-flickr {


background-position: -168px -280px;
}
.libre-social-forrst {


background-position: -182px -280px;
}
.libre-social-github {


background-position: 0 -294px;
}
.libre-social-google-maps {


background-position: -14px -294px;
}
.libre-social-google-plus {


background-position: -28px -294px;
}
.libre-social-gravatar {


background-position: -42px -294px;
}
.libre-social-hackernews {


background-position: -56px -294px;
}
.libre-social-icq {


background-position: -70px -294px;
}
.libre-social-instagram {


background-position: -84px -294px;
}
.libre-social-kickstarter {


background-position: -98px -294px;
}
.libre-social-last-fm {


background-position: -112px -294px;
}
.libre-social-lego {


background-position: -126px -294px;
}
.libre-social-linkedin {


background-position: -140px -294px;
}
.libre-social-livejournal {


background-position: -154px -294px;
}
.libre-social-lynda {


background-position: -168px -294px;
}
.libre-social-map {


background-position: -182px -294px;
}
.libre-social-massroots {


background-position: 0 -308px;
}
.libre-social-medium {


background-position: -14px -308px;
}
.libre-social-netlify {


background-position: -28px -308px;
}
.libre-social-ovh {


background-position: -42px -308px;
}
.libre-social-paypal {


background-position: -56px -308px;
}
.libre-social-periscope {


background-position: -70px -308px;
}
.libre-social-picasa {


background-position: -84px -308px;
}
.libre-social-pinterest {


background-position: -98px -308px;
}
.libre-social-play-store {


background-position: -112px -308px;
}
.libre-social-quora {


background-position: -126px -308px;
}
.libre-social-redbubble {


background-position: -140px -308px;
}
.libre-social-reddit {


background-position: -154px -308px;
}
.libre-social-rss {


background-position: -168px -308px;
}
.libre-social-sharethis {


background-position: -182px -308px;
}
.libre-social-skype {


background-position: 0 -322px;
}
.libre-social-snapchat {


background-position: -14px -322px;
}
.libre-social-soundcloud {


background-position: -28px -322px;
}
.libre-social-stackoverflow {


background-position: -42px -322px;
}
.libre-social-steam {


background-position: -56px -322px;
}
.libre-social-stumbleupon {


background-position: -70px -322px;
}
.libre-social-tor {


background-position: -84px -322px;
}
.libre-social-tsu {


background-position: -98px -322px;
}
.libre-social-tumblr {


background-position: -112px -322px;
}
.libre-social-twitch {


background-position: -126px -322px;
}
.libre-social-twitter {


background-position: -140px -322px;
}
.libre-social-ubiquiti {


background-position: -154px -322px;
}
.libre-social-unsplash {


background-position: -168px -322px;
}
.libre-social-vimeo {


background-position: -182px -322px;
}
.libre-social-vine {


background-position: 0 -336px;
}
.libre-social-whatsapp {


background-position: -14px -336px;
}
.libre-social-wikipedia {


background-position: -28px -336px;
}
.libre-social-windows-store {


background-position: -42px -336px;
}
.libre-social-xbox-live {


background-position: -56px -336px;
}
.libre-social-yahoo {


background-position: -70px -336px;
}
.libre-social-yelp {


background-position: -84px -336px;
}
.libre-social-youtube {


background-position: -98px -336px;
}
.libre-social-zerply {


background-position: -112px -336px;
}
.libre-social-zune {


background-position: -126px -336px;
}
.libre-sort {


background-position: -140px -336px;
}
.libre-sort-asc {


background-position: -154px -336px;
}
.libre-sort-desc {


background-position: -168px -336px;
}
.libre-special-character {


background-position: -182px -336px;
}
.libre-spellcheck {


background-position: 0 -350px;
}
.libre-spinner-1 {


background-position: -14px -350px;
}
.libre-spinner-2 {


background-position: -28px -350px;
}
.libre-spinner-3 {


background-position: -42px -350px;
}
.libre-spinner-4 {


background-position: -56px -350px;
}
.libre-spinner-5 {


background-position: -70px -350px;
}
.libre-spinner-6 {


background-position: -84px -350px;
}
.libre-spinner-7 {


background-position: -98px -350px;
}
.libre-spinner-8 {


background-position: -112px -350px;
}
.libre-spinner-9 {


background-position: -126px -350px;
}
.libre-spinner-10 {


background-position: -140px -350px;
}
.libre-spinner-11 {


background-position: -154px -350px;
}
.libre-spinner-12 {


background-position: -168px -350px;
}
.libre-square {


background-position: -182px -350px;
}
.libre-square-o {


background-position: 0 -364px;
}
.libre-square-o-rounded {


background-position: -14px -364px;
}
.libre-square-rounded {


background-position: -28px -364px;
}
.libre-star {


background-position: -42px -364px;
}
.libre-star-o {


background-position: -56px -364px;
}
.libre-stop {


background-position: -70px -364px;
}
.libre-strikethrough {


background-position: -84px -364px;
}
.libre-subscript {


background-position: -98px -364px;
}
.libre-superscript {


background-position: -112px -364px;
}
.libre-table {


background-position: -126px -364px;
}
.libre-tablet {


background-position: -140px -364px;
}
.libre-tag {


background-position: -154px -364px;
}
.libre-tags {


background-position: -168px -364px;
}
.libre-tardis {


background-position: -182px -364px;
}
.libre-tasks {


background-position: 0 -378px;
}
.libre-tech {


background-position: -14px -378px;
}
.libre-tech-angularjs {


background-position: -28px -378px;
}
.libre-tech-apache {


background-position: -42px -378px;
}
.libre-tech-blender {


background-position: -56px -378px;
}
.libre-tech-css3 {


background-position: -70px -378px;
}
.libre-tech-firebird {


background-position: -84px -378px;
}
.libre-tech-gimp {


background-position: -98px -378px;
}
.libre-tech-godot {


background-position: -112px -378px;
}
.libre-tech-html5 {


background-position: -126px -378px;
}
.libre-tech-inkscape {


background-position: -140px -378px;
}
.libre-tech-jquery {


background-position: -154px -378px;
}
.libre-tech-makehuman {


background-position: -168px -378px;
}
.libre-tech-mysql {


background-position: -182px -378px;
}
.libre-tech-nodejs {


background-position: 0 -392px;
}
.libre-tech-open-source {


background-position: -14px -392px;
}
.libre-tech-open-source-hardware {


background-position: -28px -392px;
}
.libre-tech-opensourcephotography {


background-position: -42px -392px;
}
.libre-tech-php {


background-position: -56px -392px;
}
.libre-tech-python {


background-position: -70px -392px;
}
.libre-tech-raspberrypi {


background-position: -84px -392px;
}
.libre-tech-summernote {


background-position: -98px -392px;
}
.libre-tech-unity3d {


background-position: -112px -392px;
}
.libre-tech-w3c {


background-position: -126px -392px;
}
.libre-television {


background-position: -140px -392px;
}
.libre-terminal {


background-position: -154px -392px;
}
.libre-text-color {


background-position: -168px -392px;
}
.libre-text-cursor {


background-position: -182px -392px;
}
.libre-text-height {


background-position: 0 -406px;
}
.libre-text-size {


background-position: -14px -406px;
}
.libre-text-width {


background-position: -28px -406px;
}
.libre-th {


background-position: -42px -406px;
}
.libre-theme {


background-position: -56px -406px;
}
.libre-th-large {


background-position: -70px -406px;
}
.libre-th-list {


background-position: -84px -406px;
}
.libre-thors-hammer {


background-position: -98px -406px;
}
.libre-thumbs-down {


background-position: -112px -406px;
}
.libre-thumbs-up {


background-position: -126px -406px;
}
.libre-ticket {


background-position: -140px -406px;
}
.libre-tint {


background-position: -154px -406px;
}
.libre-tooltip {


background-position: -168px -406px;
}
.libre-trash {


background-position: -182px -406px;
}
.libre-triangle {


background-position: 0 -420px;
}
.libre-triangle-o {


background-position: -14px -420px;
}
.libre-triangle-o-rounded {


background-position: -28px -420px;
}
.libre-triangle-rounded {


background-position: -42px -420px;
}
.libre-triskele {


background-position: -56px -420px;
}
.libre-underline {


background-position: -70px -420px;
}
.libre-undo {


background-position: -84px -420px;
}
.libre-unlock {


background-position: -98px -420px;
}
.libre-unsorted {


background-position: -112px -420px;
}
.libre-upload {


background-position: -126px -420px;
}
.libre-user {


background-position: -140px -420px;
}
.libre-user-female {


background-position: -154px -420px;
}
.libre-user-group {


background-position: -168px -420px;
}
.libre-user-male {


background-position: -182px -420px;
}
.libre-users {


background-position: 0 -434px;
}
.libre-view {


background-position: -14px -434px;
}
.libre-virus {


background-position: -28px -434px;
}
.libre-wrench {


background-position: -42px -434px;
}
.libre-zoom-fit {


background-position: -56px -434px;
}
.libre-zoom-in {


background-position: -70px -434px;
}
.libre-zoom-out {


background-position: -84px -434px;
}
