.jumbotron{margin-top:-20px;background-color:#f8f8f8}
.libre-large{font-size:14em}
.svg-icon-list{margin-top:10px}
.svg-icon-list .hover{display:block;color:#222;line-height:32px;height:32px;padding-left:10px;border-radius:4px}
.svg-icon-list .hover .libre{width:14px;height:14px;display:inline-block;text-align:right;margin-right:20px}
.svg-icon-list .hover:hover{background-color:#ddd;vertical-align:top}
.svg-icon-list .hover:hover span{vertical-align:top}
.svg-icon-list .hover:hover .libre{width:32px;height:32px;margin-left:-5px;margin-right:7px}

.font-icon-list{margin-top:10px}
.font-icon-list .hover{display:block;color:#222;line-height:32px;height:32px;padding-left:10px;border-radius:4px}
.font-icon-list .hover .libre{width:32px;font-size:14px;display:inline-block;text-align:right;margin-right:10px}
.font-icon-list .hover:hover{background-color:#ddd;text-decoration:none}
.font-icon-list .hover:hover .libre{font-size:28px;vertical-align:-6px}
.footer{padding-top:40px;padding-bottom:40px;margin-top:100px;color:#767676;text-align:center;border-top:1px solid #e5e5e5}
.footer-links{padding-left:0;margin-top:20px}
.footer-links li{display:inline;padding:0 2px}
.footer-links li:first-child{padding-left:0}
.social{margin-bottom:20px;text-align:center}
.social-buttons{display:inline-block;padding-left:0;margin-bottom:0;list-style:none}
.social-buttons li{display:inline-block;padding:5px 8px;line-height:1}
.github-btn{overflow:hidden;border:0}
.promotion{margin-top:22px;font-size:14px;line-height:1.42857143;text-shadow:0 1px 0 rgba(0,0,0,.15)}
.libre-activity.animated-hover:hover{-webkit-animation-name:fadeOutScaleUp;animation-name:fadeOutScaleUp;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.navbar-nav>li.dropdown-split-right>a{padding-left:7px}
.navbar-nav>li.dropdown-split-left>a{padding-right:0}
.margin-bottom-10{margin-bottom:10px}
.new{background-color:rgba(0,255,0,.25)}
.color-width{display:inline-block;width:140px}
.hll{background-color:#ffc}
.c,.c1,.cs,.ni,.css .o,.css .o+.nt,.css .nt+.nt{color:#999}
.err{color:#a00;background-color:#faa}
.k,.kc,.kd,.kn,.kp,.kr{color:#069}
.o{color:#555}
.cm{color:#09f;font-style:italic}
.cp{color:#099}
.gd{background-color:#fcc;border:1px solid #c00}
.ge{font-style:italic}
.gr{color:#f00}
.gh,.gu{color:#030}
.gi{background-color:#cfc;border:1px solid #0c0}
.go{color:#aaa}
.gp{color:#009}
.gs{}
.gt{color:#9c6}
.kt{color:#078}
.m,.il{color:#f60}
.s{color:#d44950}
.na{color:#4f9fcf}
.nb{color:#366}
.nc{color:#0a8}
.no{color:#360}
.nd{color:#99f}
.ne{color:#c00}
.nf{color:#c0f}
.nl{color:#99f}
.nn{color:#0cf}
.nt{color:#2f6f9f}
.nv{color:#033}
.ow{color:#000}
.w{color:#bbb}
.mf,.mh,.mi,.mo{color:#f60}
.sb,.sc,.sd,.se,.sh,.sx,.sl{color:#c30}
.sd{font-style:italic}
.si{color:#a00}
.sr{color:#3aa}
.ss{color:#fc3}
.bp{color:#366}
.vc,.vg,.vi{color:#033}
pre{background-color:#fafafa;padding:8px 15px}
#trick,#eggs{
    display:none;
    background-color:rgba(0,0,0,.90);
    color:#fff;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    z-index:5000;
}
#trick li,
#eggs li{
	display:inline-block;
	width:75px;
    color:#fff
}
#trick li+li,
#eggs li+li{
	display:inline;
	color:#fff
}
#colors div{
    margin-bottom:5px;
    font-weight:700;
    color:#000;
}
.example-modal .modal {
position: relative;
top: auto;
bottom: auto;
right: auto;
left: auto;
display: block;
z-index: 1;
}
.example-modal .modal {
background: transparent!important;
}